*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-wrapper{
  background-color: aquamarine;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  /* border: 1px solid black; */
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

.box{
  border: 1px solid black;
  width: 40px;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}